<article id="archives_category">
	<h2>Site Archives</h2>
	<br />
	<% @post_months.each do |month, posts| %>
	<h3><%= month.strftime("%B %Y") %></h3>
	<hr />
	<ul>
		<% for post in posts %>
		<li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
		<% end %>
	</ul>
	<% end %>
</article>
