<article>
<h2>Contact Us</h2>
<form action="/contact" method="post" class="form">
  <label for="name">Your Name:</label><br />
  <input type="text" name="name" id="textbox" ><br /><br />
  <label for="email">Email address:</label><br />
  <input type="text" name="email" id="textbox" ><br /><br />
  <label for="phone">Phone Number:</label><br />
  <input type="text" name="phone" id="textbox" ><br /><br />
  <label for="to">Message:</label><br />
  <textarea name="message" id="textarea" ></textarea><br /><br />
  <input type="submit" value="Send">
</form>
</article>