<% @post.each do |post| %>
<article>
	<h2>Latest Posts</h2>
	<p>
		<%= post.created_at %> &raquo; <a href="/posts/<%= post.id %>"><%= post.title %></a><br />
		<%= post.summary %>
	</p>
</article>
<% end %>