<article>
  <h2>Latest Posts</h2>
<% @post.each do |post| %>
  <p>
    <%= post.created_at %> &raquo; <a href="/posts/<%= post.id %>"><%= post.title %></a><br />
    <%= post.summary %>
  </p><br />
<% end %>
</article>