<aritcle>
<h2>About Us</h2>
<form action="/about/edit" method="post" class="form">
<label for="about_site">Edit page</label><br />
<textarea type="text" name="about_site" ><%= information.about_site %></textarea><br /><br />
<input id="post_submit" name="commit" type="submit" value="Save" />
</form><br />
</aritcle>