<form action="/about/edit" method="post" class="form">
<label for="about_site">Editing the page content:</label><br />
<textarea type="text" name="about_site" ><%= information.about_site %></textarea><br /><br />
<input id="post_submit" name="commit" type="submit" value="Save" />
</form>