<article>
<h2>About Us</h2>
<% if signed_in? %>
<table class="admin_table">
  <tr>
    <td>&raquo; <a href="/about/edit">Edit page content</a></td>
  </tr>
  <tr>
    <td><p><%= information.about_site %></p></td>
  </tr>
</table>
<% else %>
<p><%= information.about_site %></p>
<% end %>
</article>