<h2>Sign In</h4>
<form action="/session/create" method="post" autocomplete="off" class="form">
<label for="user">Email Address:</label><br />
<input type="text" name="email"><br />
<label for="password">Password:</label><br />
<input type="password" name="password"><br /><br />
<input type="submit" value="Log In">
</form>
<br />
